:root {
    --header-color: #ffffff;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
    --first-text-color: #303030;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #9da4bd;
    --fourth-text-color: #555555;
    --accent-color: #ff6c00;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Open Sans", sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid tomato; */
}

/* ------------------COMPONENTS----------------------- */

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.pre-title::before {
    content: "";
    width: 63px;
    height: 1px;
    /* background-color: var(--second-text-color); */
    margin-right: 21px;
}
.btn {
    background-color: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    min-height: 40px;
    min-width: 160px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    cursor: pointer;
    transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover,
.btn:focus {
    color: var(--first-btn-color);
    background-color: var(--accent-color);
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.after-title {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

/* ------------------HEADER----------------------- */

.header {
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    width: 100%;
    left: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;
}

.header-item {
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    margin-right: 40px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    transition: color 300ms linear;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-btn {
    color: var(--first-btn-color);
}

/* ------------------HERO----------------------- */

.hero {
}

.hero-right {
    background-color: var(--second-title-color);
    background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
        ),
        url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 206px;
    padding-left: 96px;
}

.hero-container {
    display: flex;
}

.hero-left {
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 18px;
}

.hero-item:not(:last-child) {
    margin-right: 40px;
}

.hero-list {
    display: flex;
    transform: rotate(-90deg);
    transform-origin: top left;
    align-items: center;
}

.hero-list::before {
    content: "";
    height: 1px;
    width: 60px;
    background-color: #303030;
    margin-right: 40px;
}
.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--first-text-color);
    transition: color 300ms linear;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    color: var(--second-text-color);
    margin-bottom: 20px;
}

.hero-pre-title::before {
    background-color: var(--second-text-color);
}

.hero-title {
    color: var(--first-title-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.hero-title:hover {
    color: var(--accent-color);
}

.hero-after-title {
    color: var(--third-text-color);
    max-width: 400px;
}

/* ------------------ABOUT----------------------- */

.about {
    padding-top: 139px;
    padding-bottom: 121px;
}

.about-list {
    display: flex;
    margin-right: 64px;
    flex-shrink: 0;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

/* .about-item {
    margin-right: 30px;
}

.about-item:last-child {
    margin-right: 0;
} */

.about-container {
    display: flex;
}
.about-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.about-pre-title::before {
    background-color: var(--first-text-color);
}

.about-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.about-after-title {
    color: var(--fourth-text-color);
    margin-bottom: 20px;
}

.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--fourth-text-color);
    margin-bottom: 40px;
}

.about-btn {
    color: var(--second-btn-color);
}

/* ------------------PRICES----------------------- */

.prices {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #111319;
    background-image: url(../img/prices-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.prices-pre-title {
    color: var(--second-text-color);
    margin-bottom: 20px;
}

.prices-pre-title::before {
    background-color: var(--second-text-color);
}

.prices-title {
    color: var(--first-title-color);
    margin-bottom: 44px;
}

.prices-wrap {
    display: flex;
    margin-bottom: 44px;
}

.prices-list {
    width: 50%;
    padding: 30px 40px;
}

.prices-left {
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-right {
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.prices-item::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: rgba(157, 164, 189, 0.12);
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
}

.prices-item-description {
    order: -1;
}

.prices-btn {
    color: var(--first-btn-color);
    margin: 0 auto;
    display: block;
}

/* ------------------REASONS----------------------- */

.reasons {
    padding-top: 120px;
    padding-bottom: 130px;
}

.reasons-left,
.reasons-right {
    width: calc(50% - 30px / 2);
}

.reasons-left {
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.reasons-container {
    display: flex;
}

.reasons-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
}

.reasons-item {
    width: 170px;
    height: 133px;
    border: 1px solid #000000;
    padding: 20px 24px;
}

.reasons-item:nth-child(even) {
    margin-top: 30px;
    margin-left: 30px;
}

.reasons-item-spetial {
    padding: 20px;
}

.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--first-text-color);
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: var(--accent-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--first-text-color);
}

.reasons-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.reasons-pre-title::before {
    background-color: var(--first-text-color);
}

.reasons-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.reasons-after-title {
    color: var(--fourth-text-color);
}

/* ------------------MASTERS----------------------- */

.masters {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #f7f7f7;
}

.masters-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.masters-pre-title::before {
    background-color: var(--first-text-color);
}

.masters-title {
    color: var(--second-title-color);
    margin-bottom: 44px;
}

.masters-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 8px;
}

.masters-item-text {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    color: var(--accent-color);
}

.masters-item-bottom {
    padding-top: 30px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}

.masters-item {
    /* width: calc((100% - 3 * 30px) / 3); */
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.masters-item:hover .masters-top-wrap::before {
    top: 0;
}

.masters-socials-list {
    display: flex;
    justify-content: center;
}

.masters-socials-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.masters-socials-item:last-child {
    margin-right: 0;
}

.masters-socials-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.masters-socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.masters-socials-link:hover,
.masters-socials-link:focus {
    background-color: tomato;
    color: black;
}

/* .masters-socials-link:hover .masters-socials-icon,
.masters-socials-link:focus .masters-socials-icon {
    fill: #000000;
} */

.masters-top-wrap {
    position: relative;
    overflow: hidden;
}

.masters-top-wrap::before {
    content: "regreswgrewgewrg";
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(255, 68, 0, 0.644);
    padding: 30px;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    top: 100%;
    box-sizing: border-box;
    transition: top 300ms linear;
}

.masters-top-text {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(255, 68, 0, 0.644);
    padding: 30px;
    line-height: 1.5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
}

/* ------------------GALLERY----------------------- */

.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}
.gallery-pre-title {
    color: var(--first-text-color);
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    margin-left: -30px;
}

.gallery-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.connect-wrapp .container {
    display: flex;
}

.online {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 50%;
}
.online-title {
    background-color: var(--first-title-color);
}

.contacts {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 50%;
}

.contact-title {
    background-color: var(--first-title-color);
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(157, 164, 189, 0.6);
    position: fixed;
    top: 0;
}

.modal {
    position: absolute;
    width: 500px;
    min-height: 600px;
    border-radius: 10px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
