* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}

@media screen and (orientation: portrait) {
    body {
        background-color: red;
    }
}

@media screen and (orientation: landscape) {
    body {
        background-color: green;
    }
}

/* @media screen and (min-width: 480px) {
    body {
        background-color: teal;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: violet;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: yellow;
    }
} */
