@import './utils/vars';
@import './utils/placeholders';
@import './utils/mixins';
@import './base/reset';
@import './base/common';
@import './components/container';
@import './components/pre-title';
@import './components/btn';
@import './components/title';
@import './components/after-title';
@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/prices';
@import './layout/reasons';
@import './layout/masters';
@import './layout/gallery';
@import './layout/connect';
@import './layout/online';
@import './layout/contacts';
@import './layout/footer';
@import './components/modal';
