.header {
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    width: 100%;
    left: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 70px;
    background-color: #ffffff;
}

.header-item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    margin-right: 40px;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-color);
    transition: color 300ms linear;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.header-btn {
    color: var(--first-btn-color);
}

.header-connect {
    display: none;
}

.menu-open {
    background: transparent;
    border: none;
    color: #ffffff;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 48px 30px 40px;
}

.menu-close {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.mob-menu-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.mob-menu-link, .mob-menu-tel {
font-weight: 600;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.1em;

color: #303030;
}

.mob-social-link {
    font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.2em;

color: #303030;

}

.mob-menu-tel {
    display: block;
    margin-bottom: 24px;
}

.mob-menu-btn {
    color: #303030;
    margin-bottom: 64px;
}