.reasons {
    padding-top: 120px;
    padding-bottom: 130px;
}

.reasons-left,
.reasons-right {
    width: calc(50% - 30px / 2);
}

.reasons-left {
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.reasons-container {
    display: flex;
}

.reasons-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
}

.reasons-item {
    width: 170px;
    height: 133px;
    border: 1px solid #000000;
    padding: 20px 24px;
}

.reasons-item:nth-child(even) {
    margin-top: 30px;
    margin-left: 30px;
}

.reasons-item-spetial {
    padding: 20px;
}

.reasons-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--first-text-color);
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    text-align: center;
    color: var(--accent-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--first-text-color);
}

.reasons-pre-title {
    color: var(--first-text-color);
    margin-bottom: 20px;
}

.reasons-pre-title::before {
    background-color: var(--first-text-color);
}

.reasons-title {
    color: var(--second-title-color);
    margin-bottom: 20px;
}

.reasons-after-title {
    color: var(--fourth-text-color);
}