.btn {
    background-color: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    min-height: 40px;
    min-width: 160px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    cursor: pointer;
    transition: color 300ms linear, background-color 300ms linear;
    &:hover,
    &:focus {
        color: var(--first-btn-color);
        background-color: var(--accent-color);
    }
}

