
.pre-title {
    @include font(11px, 1.36);
    // font-weight: 600;
    // font-size: 11px;
    // line-height: 1.36;
    // letter-spacing: 0.1em;
    text-transform: uppercase;
    @extend %align-flex;
    &::before {
        content: "";
        width: 63px;
        height: 1px;
        /* background-color: var(--second-text-color); */
        margin-right: 21px;
    }
}

.pre-title--color--light {
    
}

.pre-title-light {

}

.pre-title-dark {
    
}

