
:root {
    --header-color: #ffffff;
    --first-title-color: #ffffff;
    --second-title-color: #303030;
    --first-btn-color: #ffffff;
    --second-btn-color: #303030;
    --first-text-color: #303030;
    --second-text-color: rgba(157, 164, 189, 0.6);
    --third-text-color: #9da4bd;
    --fourth-text-color: #555555;
    --accent-color: #ff6c00;
}
